<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/fzany/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="fzany" />
            <add key="ClearTextPassword" value="814b5c5a9f9796cf514db07d9c3dfdc5d2fecb0e" />
        </github>
    </packageSourceCredentials>
</configuration>
